<h1>Visible Groups</h1>

<%= render 'search' %>
<br/>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="text-center">Subscribe</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.description %></td>
        <td class="text-center"><%= link_to icon("plus-circle"), group_subscribe_path(group.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>

<br>
