<div class="col-md-6" id="calendar"></div>
<div class="col-md-6" id="rightSide" padding-left:20px">
<p id="notice">
	<%= notice %>
</p>

<h1><%= @group.name %></h1>
<% if current_user != @admin %>
  <%if @users.include? current_user %>
    <%= link_to 'Unsubscribe now !', group_unsubscribe_path(@group), class: "btn btn-primary"  %>
  <% else %>
    <%= link_to 'Subscribe now !', group_subscribe_path(@group), class: "btn btn-primary"  %>
  <% end %>
<% end %>

<h2>What ?</h2>
<p>
	<%= @group.description %>
</p>
<table class="table table-hover">
	<tr>
		<th>Event</th>
		<th class="text-center">Subscribe</th>
	</tr>
	<% @events.each do |event| %>
	<tr>
		<td><%= link_to event.name, event %></td>
        <td class="text-center"><%= link_to icon("plus-circle"), group_subscribe_path(event.id) %></td>
	</tr>
	<% end %>
</table>

<h2>Who's the boss ?</h2>
<%= @admin.name %>

<h2>Who like that ?</h2>
<table class="table table-hover">
	<tr>
		<th><span class="glyphicon glyphicon-user"></span> <%= pluralize(@followers.size, "follower") %> </th>
	</tr>
	<% @followers.each do |follower| %>
	<tr>
		<td><%= follower.name %></td>
	</tr>
	<% end %>
	
</table>

<% if current_user == @admin %>
    <%= link_to icon('trash-o fa-lg', 'Delete'), @group, method: 'delete', class: "btn btn-danger" %>
	<%= link_to icon('edit fa-lg', 'Edit'), edit_group_path(@group), class: "btn btn-warning" %>
<% end %>
<h2>Invite somenone !</h2>
<%= render 'invite' %>
</div>


<script>
	$(document).ready(function() { 
		var calendarWrapper = new zCalendarWrapper({
			container: '#calendar',
			api: {
				get: "<%= group_path %>.json",
				add: "<%= events_path %>.json"
			},
			group_id:<%= @group.id %>
		});
	}) ;
</script>