<div class="col-md-6" id="calendar"></div>
<div class="col-md-6" id="rightSide" padding-left:20px">

<h1 class="bg-primary"><%= @group.name %></h1>
<% if current_user != @admin %>
  <%if @users.include? current_user %>
    <%= link_to 'Unsubscribe now !', group_unsubscribe_path(@group), class: "btn btn-primary"  %>
  <% else %>
    <%= link_to 'Subscribe now !', group_subscribe_path(@group), class: "btn btn-primary"  %>
  <% end %>
<% end %>

<h2>What is it about ?</h2>
<p>
	<%= @group.description %>
</p>
	<% if not @events.empty? %>
	<table class="table table-hover">
	  <thead>
		<tr>
			<th>Event</th>
			<th class="text-center">Participate</th>
		</tr>
	  </thead>
	  
	  <tbody>
		<% @events.each do |event| %>
		<tr>
			<td><%= link_to event.name, event %></td>
	        <td class="text-center"><%= link_to icon("plus-circle"), event_participate_path(event.id) %></td>
		</tr>

	<% end %>
	<% else %>
	<div class="alert alert-info">There are no events for this group! Create some by using the calendar.</div>
	<% end %>
		  </tbody>
	</table>

<h2>Who's the boss ?</h2>
<%= @admin.name %>

<h2>Who likes that ?</h2>
<table class="table table-hover">
	<tr>
		<th><span class="glyphicon glyphicon-user"></span> <%= pluralize(@followers.size, "follower") %> </th>
	</tr>
	<% @followers.each do |follower| %>
	<tr>
		<td><%= follower.name %></td>
	</tr>
	<% end %>
	
</table>

<% if current_user == @admin %>
    <%= link_to icon('trash-o fa-lg', 'Delete'), @group, method: 'delete', class: "btn btn-danger" %>
	<%= link_to icon('edit fa-lg', 'Edit'), edit_group_path(@group), class: "btn btn-warning" %>
<% end %>
<h2>Invite someone !</h2>
<%= render 'invite' %>
</div>


<script>
	$(document).ready(function() { 
		var calendarWrapper = new zCalendarWrapper({
			container: '#calendar',
			api: {
				get: "<%= group_path %>.json",
				add: "<%= events_path %>.json"
			},
			group_id:<%= @group.id %>,
			isAdmin: <%= @group.is_admin? current_user %>
		});
	}) ;
</script>