<div style="float:left" id="calendar"></div>
<div style="float:left; padding-left:20px">
<p id="notice">
	<%= notice %>
</p>

<h1><%= @group.name %></h1>
<%if @users.include? current_user %>
<%= link_to 'Unsubscribe now !', group_unsubscribe_path(@group), class: "btn btn-primary"  %>
<% else %>
<%= link_to 'Subscribe now !', group_subscribe_path(@group), class: "btn btn-primary"  %>
<% end %>

<h2>What ?</h2>
<p>
	<%= @group.description %>
</p>
<table class="table table-hover">
	<tr>
		<th>Event</th>
		<th class="text-center">Subscribe</th>
	</tr>
	<% @events.each do |event| %>
	<tr>
		<td><%= link_to event.name, event %></td>
        <td class="text-center"><%= link_to icon("plus-circle"), group_subscribe_path(event.id) %></td>
	</tr>
	<% end %>
</table>

<h2>Who's the boss ?</h2>
<%= @admin.name %>

<h2>Who like that ?</h2>
<table class="table table-hover">
	<tr>
		<th>Followers</th>
	</tr>
	<% @followers.each do |follower| %>
	<tr>
		<td><%= follower.name %></td>
	</tr>
	<% end %>
	
</table>

<% if current_user == @admin %>
	<%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>
<%= link_to 'Back', groups_path %>
</div>
<script>
	$(document).ready(function() { 
		var calendarWrapper = new zCalendarWrapper({
			container: '#calendar',
			api: {
				get: "<%= group_path %>.json"
			}
		});
	}) ;
</script>