<h1>Listing events</h1>

<%= render 'search' %>
<br/>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Starts</th>
      <th>Ends</th>
      <th>Location</th>
      <th>Participants</th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to event.group.name, group_path(event.group) %></td>
        <td><%= event.startDate %></td>
        <td><%= event.endDate %></td>
        <td><%= event.location %></td>
        <td>
        	<span class="glyphicon glyphicon-user"></span> <%= pluralize(event.users.size,"participant") %>
        
    	</td>
    	<% if event.users.include? current_user %>
        <td><%= link_to icon('minus-circle'), event_unparticipate_path(event.id) %></td>
        <% else %>
        <td><%= link_to icon('plus-circle'), event_participate_path(event.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @paginated_events, renderer: BootstrapPagination::Rails %>
