<h1>Listing events</h1>

<%= render 'search' %>
<br/>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Location</th>
      <th>Participants</th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.startDate %></td>
        <td><%= event.endDate %></td>
        <td><%= event.location %></td>
        <td>
        	<span class="glyphicon glyphicon-user"></span> <%= event.users.size %> participant(s)
        
    	</td>
        <td><%= link_to icon('plus-circle'), event_participate_path(event.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @paginated_events, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to 'New Event', new_event_path %>
