<p id="notice"><%= notice %></p>
<h1><%= @event.name %></h1>
<button class="btn btn-info">
<% if @event.users.include? current_user %>
<%= link_to "Stop participating", event_unparticipate_path(@event) %>
<% else %>
<%= link_to "Participate", event_participate_path(@event) %>
<% end %>
</button>
<h2>Where ?</h2>
<p><%= @event.location %></p>

<h2>When ?</h2>
<p>
	Begining : <%= @event.startDate %>
	<br/>
	End :   <%= @event.endDate %>
</p>
	
<h2>What ?</h2>
<p>  <%= @event.description %></p>

<h2>Who ?</h2>
<p>Group : <%= @group.name %></p>

<h2>Whom with ?</h2>
	<p>
		Participants (<%= @participants.count %>) :
		<ul>
			<% @participants.each do |p| %>
			<li><%= p.name %></li>
			<% end %>
		</ul>
	</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
