<p id="notice"><%= notice %></p>
<h1><%= @event.name %></h1>

  <%if @participants.include? current_user %>
    <%= link_to 'Stop participating !', event_unparticipate_path(@event), class: "btn btn-primary"  %>
  <% else %>
    <%= link_to 'Participate !', event_participate_path(@event), class: "btn btn-primary"  %>
  <% end %>
  
<h2>Where ?</h2>
<p><%= @event.location %></p>

<h2>When ?</h2>
<p>
	Begining : <%= @event.startDate %>
	<br/>
	End :   <%= @event.endDate %>
</p>
	
<h2>What ?</h2>
<p>  <%= @event.description %></p>

<h2>Who ?</h2>
<p>Group : <%= @group.name %></p>

<h2>Whom with ?</h2>
<table class="table table-hover header-fixed">
	<thead>
	<tr>
		<th><span class="glyphicon glyphicon-user"></span> <%= pluralize(@participants.size, "participants") %> </th>
	</tr>
	</thead>
	<tbody>
	<% @participants.each do |participant| %>
	<tr>
		<td><%= participant.name %></td>
	</tr>
	<% end %>
	</tbody>
	
</table>


