<% if !user_signed_in? then %>
<div class="jumbotron">
	<h1>Welcome to xTable</h1>
	<p>
		This app aims to make your life easier!<br />It's a smart calendar that helps you to <strong>manage</strong> and <strong>optimize</strong> your time. You can publish and subscribe to group events. xTable handles <strong>conflicts</strong> in your calendar, meaning that it warns you if you planned to go to many events at the same time!
	</p>
	<p>
		<%= link_to  "It's time to get in!", new_user_session_path(), class: "btn btn-primary btn-lg"%>
	</p>
</div>
<% else %>

<div class="col-md-6" id="calendar"></div>
<div class="col-md-6" id="rightSide" padding-left="20px">
	
<% if not @conflictingEvents.empty? %>
	<h2 class="bg-warning">You have conflicts!</h2>
     <% @conflictingEvents.each do |e| %>
	<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th style="text-align: right">Group</th>
    </tr>
  </thead>
  <tbody>
       <% e.each do |o| %>
       <tr>
       	<td>
         <%= link_to o.name, event_path(o) %>
         </td>
         <td style="text-align:right">
         	<% if current_user.private_group != o.group %>
         	<%= o.group.name %>
         	<% else %>
         	Your own event
         	<% end %>
         </td>
        </tr>
         <% end %>
       </tbody>
       </table>
       <% end %>
       <% end %>
       
       
	<h1 class="bg-primary">My groups</h1>
	
<% groups = current_user.groups - [current_user.private_group] %>

<% if not groups.empty? %>
    

<table class="table table-hover header-fixed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Visibility</th>
      <th class="text-center">Subscribe/Unsubscribe</th>
    </tr>
  </thead>
  
  <tbody>
	<% groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.description %></td>
        <% if group.isPrivate %>
        <td><span class="label label-default">private</span></td>
        <% else %>
        <td><span class="label label-primary">public</span></td>
        <% end %>
        
        <% if group.is_admin?(current_user) %>
          <td class="text-center"><%= icon("wrench") %></td>
        <% else %>
          <td class="text-center"><%= link_to icon("minus-circle"), group_unsubscribe_path(group.id) %></td>
        <% end %>
      </tr>
    <% end %>
    <% else %>
    	<div class="alert alert-info">There are no groups yet ! <%= link_to "Create one !", new_group_path %></div>
    <% end %>
  </tbody>
  
</table>


</div>
<script>
	$(document).ready(function() { 
		var calendarWrapper = new zCalendarWrapper({
			container: '#calendar',
			api: {
				get: "<%= events_path %>.json",
				add: "<%= events_path %>.json",
				erase: "<%= events_path %>"
			},
			group_id: <%= current_user.private_group.id %>,
			isAdmin: true
		});
	}) ;
</script>

<% end %>
